<p>curso-resources works!</p>

<div>
    <table>
    @for (curso of cursosFiltro(); track curso.id) {
        <tr>
            <td><a routerLink="/buscador/{{curso.id}}">{{curso.nombre}}</a></td>
            <td><button class="boton boton3" (click)="editarCurso(curso)">Editar</button></td>
            <td><button class="boton boton2" (click)="borrarCurso(curso.id)">Borrar</button></td>
        </tr>
    }
    @empty { No hay información de cursos }
    </table>
</div>

<hr>

<div>
    @for (otroCurso of cursosEmpty; track $index) {
        <li>{{otroCurso}}</li>
    }
    @empty { No hay información de cursos }
</div>
