<p>registro-curso-template works!</p>

<form (ngSubmit)="registrar($event, formRegistrar)" #formRegistrar="ngForm">
    <div>
        <input name="id" type="number" ngModel="{{ cursoService.cursoActual().id }}"
               #id="ngModel" ngModel />
    </div>
    <div>
        <input name="nombre" type="text" placeholder="Nombre"
            required minlength="4"
            ngModel="{{ cursoService.cursoActual().nombre}}"
            #nombre="ngModel" ngModel />
<!--    @if(nombre.invalid && nombre.touched) {
        @if (nombre.hasError('minlength')) {
                <span>Longitud mínima es 4</span>
        }
        @if (nombre.hasError('required')) {
                <span>Nombre requerido</span>
        }
    }-->
    </div>
    <div>
    <input name="categoria" type="text" placeholder="Categoría"
                ngModel="{{ cursoService.cursoActual().categoria }}"
            #categoria="ngModel" ngModel />
    </div>
    <div>
    <input name="duracion" type="number" placeholder="Duración"
                ngModel="{{ cursoService.cursoActual().duracion }}"
            #duracion="ngModel" ngModel />
    </div>
    <div>
    <input name="descripcion" type="text" placeholder="Descripción"
                ngModel="{{ cursoService.cursoActual().descripcion }}"
            #descripcion="ngModel" ngModel />
    </div>
    <div>
    <input name="imagen" type="text" placeholder="Imagen"
                ngModel="{{ cursoService.cursoActual().imagen }}"
            #imagen="ngModel" ngModel />
    </div>

    <button [disabled]="formRegistrar.invalid">Registrar</button>


    <button type="button" (click)="registrarSinNgModel(nombre.value, categoria.value, duracion.value, descripcion.value, imagen.value)">Registrar sin ngModel</button>
    <button type="button" (click)="actualizar(id.value, nombre.value, categoria.value, duracion.value, descripcion.value, imagen.value)">Actualizar</button>
</form>
